* {
    margin: 0px;
    padding: 0px;
}

body {
    background: linear-gradient(to left, rgb(179, 65, 0) 0%, rgb(212, 93, 2) 100%);
    font-family: 'Open Sans', sans-serif;
    color: white;
    height: 1500px;
}

.hoverHand:hover {
    cursor: pointer;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    box-shadow: 0px 2px 15px -1px rgba(0,0,0,0.5);
    background: #1354be;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 100px;
    color: white;
    z-index: 100;
}

header h2 {
    padding-left: 10px;
    float: left;
    margin-top: -2px;
}

#headerLogo {
    height: 30px;
    float:left;
}

.main {
    margin-top: 50px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    text-align: center;
}

#mainLogo {
    width: 250px;
}

.fileChooser {
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid white;
    position: relative;
    height: 40px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

.fileChooser .infotext {
    float: left;
    z-index: 10;
    padding: 8px 0px 0 10px;
    overflow: hidden;
    max-width: 190px;
    text-overflow: ellipsis;
}

.fileChooser .uploadButton {
    float: right;
    z-index: 10;
    height: 25px;
    padding: 8px 10px 8px 10px;
    border-left: 1px solid white;
}

.fileChooser .uploadButton:hover {
    cursor: pointer;
}

.fileChooser input[type='file'] {
    opacity: 0;
    z-index: 0;
    position: absolute;
}

.bigFileChooser {
    width: 45%;
    float: left;
}

.bigFileChooser .fileChooser {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

#chartsContainer {
    margin-top: 20px;
}

/*************************************** Chart Instance ***********************************/
.placeHolderRectangle {
    position: relative;
    float: left;
    margin-left: 20px;
}

.placeHolderRectangle .topRight {
    position: absolute;
    top: 0;
    right: 0;
    border-top: 1px white solid;
    border-right: 1px white solid;
    border-radius: 0 3px 0 0;
    width: 20px;
    height: 20px;
}

.placeHolderRectangle .bottomRight {
    position: absolute;
    bottom: 0;
    right: 0;
    border-bottom: 1px white solid;
    border-right: 1px white solid;
    border-radius: 0 0 3px 0;
    width: 20px;
    height: 20px;
}

.placeHolderRectangle .bottomLeft {
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom: 1px white solid;
    border-left: 1px white solid;
    border-radius: 0 0 0 3px;
    width: 20px;
    height: 20px;
}

.placeHolderRectangle .topLeft {
    position: absolute;
    top: 0;
    left: 0;
    border-top: 1px white solid;
    border-left: 1px white solid;
    border-radius: 3px 0 0 0;
    width: 20px;
    height: 20px;
}


.chartContainer {
    border-radius: 5px;
    background: white;
    box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.2);
    padding: 20px;
    color: grey;
    position: relative;
    width: 45%;
    float: left;
}

.infoBoxesContainer {
    margin-top: 20px;
    padding-left: 25px;
}

.infoBox {
    float: left;
    border-radius: 3px;
    border: 1px solid;
    padding: 10px;
    margin-right: 15px;
}

.infoBox .date {
    font-size: 10pt;
    color: #6e6e6e;
}

.infoBox .ip {
    font-family: "Source Code Pro", serif;
}

.chart {
    border: solid 1px black;
}

.chartMenuBar {
    position: absolute;
    top: 10px;
    right: 20px;
}
